.uniform__potty {
  position: absolute;
  left: -9999px;
}

.uniform-contact__container {
  position: relative;
  width: 100%;

  --cf-color-success: var(--color-success, #2f9f35);
  --cf-color-warning: var(--color-warning, #c87911);
  --cf-color-error: var(--color-error, #b5414b);
  --cf-color-accent: var(--color-accent, #4d74bc);
  --cf-color-background: var(--color-background, #fff);
  --cf-color-outline: var(--color-outline, #aaa);
  --cf-color-font: var(--color-font, #333);
  --cf-btn-color-accent: var(--btn-color-accent, var(--color-accent, #4d74bc));
  --cf-btn-color-background: var(--btn-color-background, var(--color-background, #fff));

  --cf-font-size-small: var(--font-size-small, 0.9rem);
  --cf-font-size-default: var(--font-size-default, 1rem);
  --cf-font-size-big: var(--font-size-big, 1.2rem);

  --cf-gap: var(--gap, 1rem);

  --grid-layout-gap: var(--cf-gap);
  --grid-column-count: 2;
  --grid-item--min-width: 250px;

  --cf-gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--cf-gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));


  .uniform-contact__form.uniform-contact__layout--one-column {
    --grid-column-count: 1;
  }

  .uniform-contact__form.uniform-contact__layout--two-column {
    --grid-column-count: 2;

    .uniform-contact__message, .uniform-contact__last_block {
      grid-column: unset;
    }
  }
}

.uniform-contact__js-message-modal {
  position: absolute;
  display: grid;
  transition: visibility 0s, opacity 0.5s linear;
  background: var(--cf-color-background);
  inset: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  place-items: center;
  border-radius: 1rem;
  border: 2px solid var(--cf-color-success);
  z-index: 2;

  .uniform-contact__js-close {
    padding: 1rem 2rem;
    outline: 2px solid var(--cf-color-success);
    border-radius: 1.2rem;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    color: var(--cf-color-success);
    background-color: var(--cf-color-background);
  }

  .uniform-contact__js-close:hover {
    color: var(--cf-color-background);
    background-color: var(--cf-color-success);
  }

  .uniform-contact__js-close:focus {
    outline: 3px solid var(--cf-color-accent);
  }
}

.uniform-contact__js-hidden {
  visibility: hidden;
  opacity: 0.3;
}


.uniform-contact__form {

  width: 100%;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

  .uniform-contact__message, .uniform-contact__last_block {
    grid-column: 1 / -1;
  }

  label {
    text-align: left;
  }

  .uniform-contact__input-group {
    display: flex;
    flex-direction: column;
    gap: calc(var(--cf-gap, 1rem) / 2);
  }

  .uniform-contact__title {
    margin-bottom: calc(var(--cf-gap, 1rem) * 2);
  }

  .uniform-contact__input {
    height: 100%;
    font: inherit;
    font-size: var(--cf-font-size-default, inherit);
    color: inherit;
    outline: 1px solid var(--cf-color-outline);
    width: 100%;
    padding: 1rem;
    margin: 0;
    border-radius: 0.5rem;
    background-color: var(--cf-color-background);
  }

  .uniform-contact__input:focus {
    outline: 2px solid var(--cf-color-accent);
  }

  .uniform-contact__input:valid:not(:placeholder-shown):focus {
    outline: 2px solid var(--cf-color-success);
  }

  .uniform-contact__input:invalid:not(:placeholder-shown):focus {
    outline: 2px solid var(--cf-color-warning);
  }

  .uniform-contact__input.error {
    outline: 2px solid var(--cf-color-error) !important;
  }

  .uniform-contact__last_block {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--cf-gap, 1rem);
  }

  .uniform-contact__captcha {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: var(--cf-gap, 1rem);

    @media (max-width: 575px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .uniform-contact__captcha-img{
    border-radius: 0.5rem;
  }

  .uniform-contact__captcha-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--cf-gap, 1rem);
  }

  .uniform-contact__captcha-input {
    flex-grow: 1;
  }

  .uniform-contact__privacy {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    font-size: var(--cf-font-size-small);
    text-align: left;
  }

  .uniform-contact__result {
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    margin-top: 0.5rem;
  }

  .uniform-contact__result--success {
    background-color: var(--cf-color-accent);
    color: var(--cf-color-background);
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.5s;
  }

  .uniform-contact__result--error {
    background-color: var(--cf-color-error);
    color: var(--cf-color-background);
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color 0.5s;
  }

  .uniform-contact__submit-btn {
    width: 100%;
    padding: 0.5rem;
    outline: 2px solid var(--cf-color-accent);
    border-radius: var(--btn-border-radius, 0.5rem);
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    font-size: var(--cf-font-size-big, inherit);
    color: var(--cf-btn-color-background);
    background-color: var(--cf-btn-color-accent);
  }

  .uniform-contact__submit-btn:focus {
    outline: 3px solid var(--cf-color-background);
  }

  .uniform-contact__submit-btn:hover {
    color: var(--cf-color-accent);
    background-color: var(--cf-color-background);
  }

  .uniform-contact__submit-btn.is-loading {
    position: relative;
    background-color: var(--cf-color-background);
    color: transparent;
    pointer-events: none;
  }

  .uniform-contact__submit-btn.is-loading::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid var(--cf-color-background);
    border-top-color: var(--cf-color-accent);
    animation: spinner 1s linear infinite;
  }

  .uniform-contact__result {
    grid-column: 1/-1;
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
